# Pandas Case studies
We will check the data Urban and rural population over the years in pakistan

In [5]:
# Import Libraries

import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
pop=pd.read_csv('FAOSTAT_data_1-13-2022.csv')
# Saving dataframe into csv file
pop.to_csv
# pop.to_excel
pop.head(4)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,165,Pakistan,551,Rural population,3010,Population - Est. & Proj.,1990,1990,1000 persons,74754.921,X,International reliable sources,NaN
1,OA,Annual population,165,Pakistan,561,Urban population,3010,Population - Est. & Proj.,1990,1990,1000 persons,32923.693,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
2,OA,Annual population,165,Pakistan,561,Urban population,3010,Population - Est. & Proj.,1991,1991,1000 persons,34133.440,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
3,OA,Annual population,165,Pakistan,551,Rural population,3010,Population - Est. & Proj.,1991,1991,1000 persons,76596.980,X,International reliable sources,NaN

In [7]:
# Basic Statistics
pop.describe()

,Area Code,Element Code,Item Code,Year Code,Year,Value
count,58.0,58.000000,58.0,58.000000,58.000000,58.000000
mean,165.0,556.000000,3010.0,2004.000000,2004.000000,76031.216966
std,0.0,5.043669,0.0,8.439672,8.439672,28181.561500
min,165.0,551.000000,3010.0,1990.000000,1990.000000,32923.693000
25%,165.0,551.000000,3010.0,1997.000000,1997.000000,51276.889250
50%,165.0,556.000000,3010.0,2004.000000,2004.000000,74192.675500
75%,165.0,561.000000,3010.0,2011.000000,2011.000000,99409.902500
max,165.0,561.000000,3010.0,2018.000000,2018.000000,127183.388000

In [8]:
pop.head(4)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,165,Pakistan,551,Rural population,3010,Population - Est. & Proj.,1990,1990,1000 persons,74754.921,X,International reliable sources,NaN
1,OA,Annual population,165,Pakistan,561,Urban population,3010,Population - Est. & Proj.,1990,1990,1000 persons,32923.693,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
2,OA,Annual population,165,Pakistan,561,Urban population,3010,Population - Est. & Proj.,1991,1991,1000 persons,34133.440,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
3,OA,Annual population,165,Pakistan,551,Rural population,3010,Population - Est. & Proj.,1991,1991,1000 persons,76596.980,X,International reliable sources,NaN

In [9]:
# droping colums and make new data

new_pop=pop.drop(['Area Code','Item Code','Year Code'], axis=1)
new_pop.head()

,Domain Code,Domain,Area,Element Code,Element,Item,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,Pakistan,551,Rural population,Population - Est. & Proj.,1990,1000 persons,74754.921,X,International reliable sources,NaN
1,OA,Annual population,Pakistan,561,Urban population,Population - Est. & Proj.,1990,1000 persons,32923.693,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
2,OA,Annual population,Pakistan,561,Urban population,Population - Est. & Proj.,1991,1000 persons,34133.440,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
3,OA,Annual population,Pakistan,551,Rural population,Population - Est. & Proj.,1991,1000 persons,76596.980,X,International reliable sources,NaN
4,OA,Annual population,Pakistan,551,Rural population,Population - Est. & Proj.,1992,1000 persons,78397.927,X,International reliable sources,NaN

In [10]:
# Work another way

pop.drop(['Area Code','Item Code','Year Code'], axis=1).head()

,Domain Code,Domain,Area,Element Code,Element,Item,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,Pakistan,551,Rural population,Population - Est. & Proj.,1990,1000 persons,74754.921,X,International reliable sources,NaN
1,OA,Annual population,Pakistan,561,Urban population,Population - Est. & Proj.,1990,1000 persons,32923.693,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
2,OA,Annual population,Pakistan,561,Urban population,Population - Est. & Proj.,1991,1000 persons,34133.440,X,International reliable sources,"UNDESA, Population Division ? World Urbanizati..."
3,OA,Annual population,Pakistan,551,Rural population,Population - Est. & Proj.,1991,1000 persons,76596.980,X,International reliable sources,NaN
4,OA,Annual population,Pakistan,551,Rural population,Population - Est. & Proj.,1992,1000 persons,78397.927,X,International reliable sources,NaN

In [11]:
pop.mean()

C:\Users\khawaja\AppData\Local\Temp/ipykernel_1864/431921984.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pop.mean()

Area Code         165.000000
Element Code      556.000000
Item Code        3010.000000
Year Code        2004.000000
Year             2004.000000
Value           76031.216966
dtype: float64

In [12]:
pop.groupby(['Element','Year']).mean()

                       Area Code  Element Code  Item Code  Year Code  \
Element          Year
Rural population 1990      165.0         551.0     3010.0     1990.0
                 1991      165.0         551.0     3010.0     1991.0
                 1992      165.0         551.0     3010.0     1992.0
                 1993      165.0         551.0     3010.0     1993.0
                 1994      165.0         551.0     3010.0     1994.0
                 1995      165.0         551.0     3010.0     1995.0
                 1996      165.0         551.0     3010.0     1996.0
                 1997      165.0         551.0     3010.0     1997.0
                 1998      165.0         551.0     3010.0     1998.0
                 1999      165.0         551.0     3010.0     1999.0
                 2000      165.0         551.0     3010.0     2000.0
                 2001      165.0         551.0     3010.0     2001.0
                 2002      165.0         551.0     3010.0     2002.0
                 2003      165.0         551.0     3010.0     2003.0
                 2004      165.0         551.0     3010.0     2004.0
                 2005      165.0         551.0     3010.0     2005.0
                 2006      165.0         551.0     3010.0     2006.0
                 2007      165.0         551.0     3010.0     2007.0
                 2008      165.0         551.0     3010.0     2008.0
                 2009      165.0         551.0     3010.0     2009.0
                 2010      165.0         551.0     3010.0     2010.0
                 2011      165.0         551.0     3010.0     2011.0
                 2012      165.0         551.0     3010.0     2012.0
                 2013      165.0         551.0     3010.0     2013.0
                 2014      165.0         551.0     3010.0     2014.0
                 2015      165.0         551.0     3010.0     2015.0
                 2016      165.0         551.0     3010.0     2016.0
                 2017      165.0         551.0     3010.0     2017.0
                 2018      165.0         551.0     3010.0     2018.0
Urban population 1990      165.0         561.0     3010.0     1990.0
                 1991      165.0         561.0     3010.0     1991.0
                 1992      165.0         561.0     3010.0     1992.0
                 1993      165.0         561.0     3010.0     1993.0
                 1994      165.0         561.0     3010.0     1994.0
                 1995      165.0         561.0     3010.0     1995.0
                 1996      165.0         561.0     3010.0     1996.0
                 1997      165.0         561.0     3010.0     1997.0
                 1998      165.0         561.0     3010.0     1998.0
                 1999      165.0         561.0     3010.0     1999.0
                 2000      165.0         561.0     3010.0     2000.0
                 2001      165.0         561.0     3010.0     2001.0
                 2002      165.0         561.0     3010.0     2002.0
                 2003      165.0         561.0     3010.0     2003.0
                 2004      165.0         561.0     3010.0     2004.0
                 2005      165.0         561.0     3010.0     2005.0
                 2006      165.0         561.0     3010.0     2006.0
                 2007      165.0         561.0     3010.0     2007.0
                 2008      165.0         561.0     3010.0     2008.0
                 2009      165.0         561.0     3010.0     2009.0
                 2010      165.0         561.0     3010.0     2010.0
                 2011      165.0         561.0     3010.0     2011.0
                 2012      165.0         561.0     3010.0     2012.0
                 2013      165.0         561.0     3010.0     2013.0
                 2014      165.0         561.0     3010.0     2014.0
                 2015      165.0         561.0     3010.0     2015.0
                 2016      165.0         561.0     3010.0     2016.0
                 2017      165.0         561.0     3010.0     2017.0
                 2018      165.0         561.0     3010.0     2018.0

                            Value
Element          Year
Rural population 1990   74754.921
                 1991   76596.980
                 1992   78397.927
                 1993   80173.404
                 1994   81944.046
                 1995   83725.038
                 1996   85522.340
                 1997   87329.956
                 1998   89157.996
                 1999   91015.393
                 2000   92835.896
                 2001   94617.502
                 2002   96368.659
                 2003   98104.460
                 2004   99845.050
                 2005  101607.860
                 2006  103392.912
                 2007  105200.045
                 2008  107040.193
                 2009  108927.738
                 2010  110868.669
                 2011  112867.839
                 2012  114917.348
                 2013  116999.097
                 2014  119084.632
                 2015  121153.730
                 2016  123198.205
                 2017  125220.255
                 2018  127183.388
Urban population 1990   32923.693
                 1991   34133.440
                 1992   35349.208
                 1993   36576.156
                 1994   37825.510
                 1995   39104.110
                 1996   40415.999
                 1997   41757.031
                 1998   43095.268
                 1999   44390.191
                 2000   45687.389
                 2001   46983.935
                 2002   48285.484
                 2003   49598.941
                 2004   50935.250
                 2005   52301.807
                 2006   53701.081
                 2007   55132.929
                 2008   56604.410
                 2009   58121.842
                 2010   59691.513
                 2011   61316.426
                 2012   62994.185
                 2013   64713.498
                 2014   66461.625
                 2015   68226.783
                 2016   70005.271
                 2017   71795.700
                 2018   73630.430

In [13]:

pop[pop['Element Code'] > 551 ].mean()

C:\Users\khawaja\AppData\Local\Temp/ipykernel_1864/2864082418.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  pop[pop['Element Code'] > 551 ].mean()

Area Code         165.000000
Element Code      561.000000
Item Code        3010.000000
Year Code        2004.000000
Year             2004.000000
Value           51784.796724
dtype: float64

In [14]:

pop[pop['Element Code'] > 551 ].groupby(['Element','Year']).mean()

                       Area Code  Element Code  Item Code  Year Code  \
Element          Year
Urban population 1990      165.0         561.0     3010.0     1990.0
                 1991      165.0         561.0     3010.0     1991.0
                 1992      165.0         561.0     3010.0     1992.0
                 1993      165.0         561.0     3010.0     1993.0
                 1994      165.0         561.0     3010.0     1994.0
                 1995      165.0         561.0     3010.0     1995.0
                 1996      165.0         561.0     3010.0     1996.0
                 1997      165.0         561.0     3010.0     1997.0
                 1998      165.0         561.0     3010.0     1998.0
                 1999      165.0         561.0     3010.0     1999.0
                 2000      165.0         561.0     3010.0     2000.0
                 2001      165.0         561.0     3010.0     2001.0
                 2002      165.0         561.0     3010.0     2002.0
                 2003      165.0         561.0     3010.0     2003.0
                 2004      165.0         561.0     3010.0     2004.0
                 2005      165.0         561.0     3010.0     2005.0
                 2006      165.0         561.0     3010.0     2006.0
                 2007      165.0         561.0     3010.0     2007.0
                 2008      165.0         561.0     3010.0     2008.0
                 2009      165.0         561.0     3010.0     2009.0
                 2010      165.0         561.0     3010.0     2010.0
                 2011      165.0         561.0     3010.0     2011.0
                 2012      165.0         561.0     3010.0     2012.0
                 2013      165.0         561.0     3010.0     2013.0
                 2014      165.0         561.0     3010.0     2014.0
                 2015      165.0         561.0     3010.0     2015.0
                 2016      165.0         561.0     3010.0     2016.0
                 2017      165.0         561.0     3010.0     2017.0
                 2018      165.0         561.0     3010.0     2018.0

                           Value
Element          Year
Urban population 1990  32923.693
                 1991  34133.440
                 1992  35349.208
                 1993  36576.156
                 1994  37825.510
                 1995  39104.110
                 1996  40415.999
                 1997  41757.031
                 1998  43095.268
                 1999  44390.191
                 2000  45687.389
                 2001  46983.935
                 2002  48285.484
                 2003  49598.941
                 2004  50935.250
                 2005  52301.807
                 2006  53701.081
                 2007  55132.929
                 2008  56604.410
                 2009  58121.842
                 2010  59691.513
                 2011  61316.426
                 2012  62994.185
                 2013  64713.498
                 2014  66461.625
                 2015  68226.783
                 2016  70005.271
                 2017  71795.700
                 2018  73630.430

In [4]:
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# p1=sns.load_dataset("pop")

#defining a color pelette
pel= sns.color_palette('rocket_r')

# creating plot
sns.set_theme(style="ticks")
pop=pd.read_csv('FAOSTAT_data_1-13-2022.csv')
# Saving dataframe into csv file
pop.to_csv
 

# Define the palette as a list to specify exact values
palette = sns.color_palette("rocket_r")

# Plot the lines on two facets
sns.relplot(
    data=pop,
    x="Element", y="Year",
    hue="Value", size="choice", col="align",
    kind="line", size_order=["T1", "T2"], palette=pel,
    height=5, aspect=.75, facet_kws=dict(sharex=False),
)

plt.title("Population")
plt.show()

ValueError: Could not interpret value `Element` for parameter `x`